#modal {
    background-color: #0E0A14ef;
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    transition:  400ms;
}

#modal .content {
    color: white;
    width: 420px;
    
}

#modal header {
    display: flex;
}